[Unit]
Description=Save images to directory, and update arena.
After=mosquitto.service coap-gateway-mqtt.service

[Service]
ExecStart=/home/ubuntu/permacam-conix-demo/permacam_publish_arena.py "-d /var/www/html/images" "-u https://coap-test.permamote.com/images"
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=permacam-conix-demo

[Install]
WantedBy=multi-user.target
